<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/">
        <div>
            <label for="nombreUsuario">Nombre de usuari@</label>
            <input type="text" name="nombreUsuario" id="NombreUsuario" minlength="8" maxlength="15">
        </div>
        <div>
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" id="contraseña" minlength="8">
        </div>
        <button type="submit">ENVIAR</button>
    </form>
</body>
</html>