<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

     <!-- Elementos cabecera -->
     <header class="cabecera">
        <div class="header1">
                <img src="img/logo-mercado-liebre.svg">
                <input placeholder="Buscar productos, marcas"></input>
                <button class="botonform"><i class="fas fa-search"></i></button>
            <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="menuGeneral">
            <ul class="menu">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="menu">
                <li><a href="/register">Crea tu cuenta</a><i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!------------SECCIÓN FORMULARIO ------------->

    <div class="formulario">
        <form class="form2" action="/" method="post">

            <h2 class="form__title">Crea una cuenta</h2>

            <div class="datos">
                <input class="input-style" type="text" name="usuario" placeholder="Nombre y Apellido:">
              
            </div>

            <div class="datos">
                <input class="input-style" type="text" name="usuario" placeholder="Nombre de usuari@:">
             
            </div>
            <div class="datos2">
                <H3>Fecha de nacimiento</H3>
                <input type="date" name="fecha" min="1970-01-01">
            </div>


            <div class="datos">
                <input class="input-style" type="text" name="domicilio" placeholder="Domicilio:">
             
            </div>


            <div class="datos2">
                <h3>Perfil de usuario</h3>
                <label for="Comprador">Comprador</label>
                <input type="radio" name="Comprador" value="Comprador">

                <label for="Vendedor">Vendedor</label>
                <input type="radio" name="Vendedor" value="Vendedor">
            </div>


            <div class="datos2">
                <label>Categorias de interes:</label>
                <select name="categarias">
                    <option value="Electro">Electro</option>
                    <option value="Moda">Moda</option>
                    <option value="Hogar">Hogar</option>
                    <option value="Jugueteria">Jugueteria</option>
                    <option value="vida sana">vida sana</option>
                </select>
            </div>

            <div class="datos2">
                <label>Seleccionar una foto para el perfil:</label>
                <input type="file" name="avatar" accept=".jpg" multiple>
            </div>

            <div class="datos">
                <input class="input-style" type="password" name="passworl" placeholder="Ingrese su contraseña:">
               
            </div>

            <div class="datos">
                <input class="input-style" type="password" name="passworl" placeholder="Confirmar contraceña:">
            </div>


            <div class="datos">
                <input class="input-style" type="email" name="email" placeholder="Email:">
            </div>

            <div class="botones">
                <button type="reset">Borrar</button>
                <button type="submit">Enviar</button>
            </div>

        </form>
    </div>

    <!------------  FOOTER --------------->

    <footer>
        <div class="info">
            <i class="fas fa-credit-card fa-2x"></i>
            <p><b>Pagá con tarjeta o en efectivo</b></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>

        <div class="info">
            <i class="fas fa-gift fa-2x"></i>
            <p><b>Envío gratis desde $ 2.500</b></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>

        <div class="info">
            <i class="fas fa-user-shield fa-2x"></i>
            <p><b>Seguridad, de principio a fin</b></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>

        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.
        <p>

</body>
</html>