<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/">
        <div>
            <label for="nombreApellido">Nombre y apellido</label>
            <input type="text" name="nombreApellido" id="NombreApellidon">
        </div>
        <div>
            <label for="nombreUsuario">Nombre de usuari@</label>
            <input type="text" name="nombreUsuario" id="NombreUsuario">
        </div>
        <div>
            <label for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" name="fechaNacimiento" id="FechanNacimiento">
        </div>
        <div>
            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio">
        </div>
        <div>
            <label for="perfilUsuario">Perfil del usuario</label>
            <input type="radio" name="perfilUsuario" id="PerfilUsuario" value="comprador">Comprar
            <input type="radio" name="perfilUsuario" id="PerfilUsuario" value="comprador">Vender
        </div>
        <div>
            <label for="intereses">Intereses</label>
            <input type="checkbox" name="intereses"  value="Electro">Electro
            <input type="checkbox" name="intereses"  value="Moda">Moda
            <input type="checkbox" name="intereses"  value="Hogar">Hogar
            <input type="checkbox" name="intereses"  value="Jugueteria">Jugueteria
            <input type="checkbox" name="intereses"  value="VidaSana">VidaSana
        </div>
        <div>
            <label for="foto">Foto de usuario</label>
            <input type="file" name="foto" id="foto">
        </div>
        <div>
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" id="contraseña">
        </div>
        <div>
            <label for="confirmarContraseña">Confirmar contraseña</label>
            <input type="password" name="confirmarContraseña" id="confirmarContraseña">
        </div>
        <button type="submit">ENVIAR</button>
        <button type="reset">BORRAR</button>
    </form>
    
</body>
</html>