*{
    font-family: roboto;
    margin: 0;
    padding: 0;
    list-style:none;
    box-sizing: border-box;
}


body{
    background-color: #d9d9d9;
}

.cabecera{
    background-color: #EAC926;
    padding: 10px;
}

/* ----- ESTILOS HEADER PRINCIPAL ---------- */

.header1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cabecera img{
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cabecera input{
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.cabecera button{
    width: 10%;
}

.botonform{
    background-color: #03264C;
    width: 50px;
    height: 25px;
    color: white;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    transition: all 200ms;
}

.botonform:hover {
    background-color: #0022AA;
}

.cabecera p{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ------------- Menu de hamburguesa ---------- */

.burger-menu{
    display: flex;
    justify-content: center;
}

.fa-bars{
    border-radius: 5px;
    background-color:#1259c3;
    padding: 10px;
    color: #fff;
}

/* ------- Pie de pagina ---------- */

footer{
    margin-top: 70px;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
}

.fa-credit-card{
    margin-bottom: 10px;
    color:  #1259c3;
}

.fa-gift{
    margin-bottom: 10px;
    color:  #1259c3;
}

.fa-user-shield{
    margin-bottom: 10px;
    color: #1259c3;
}

.info{
    margin-top: 25px;
}

.info p b{
    color:  #666;
}

.info p{
   margin-top: 5px; 
}

.copy{
    font-size: 12px;
    margin-top: 15px;
}

/* ------------ FORMULARIO ------------- */

.input-style2{
    width: 50%;
    background: none;
    text-align: center;
    color: black;
    font-size: 15px;
    padding: .6em .7em;
    border: none;
    outline: none;
    border:2px solid #1259c3;
    border-radius: 5px;
    margin-top: 20px;
  }

  .form-container {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 15px;
 }

 .check {
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .btn1 {
    width: 120px;
    height: 35px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    background-color:#1259c3;
    border: none;
    color: #ffffff;
 }


/* ------------- Media Query Móvil ------------- */

@media  (min-width: 0px) and (max-width: 500px) {
    
    .menuGeneral{
        display: none;
    }

}

/* ------------- Media Query escritorio ------------- */

@media (min-width: 501px){
    
    .menuGeneral{
        display: none;
    }

}

/* ------------- Media Query escritorio ------------- */

@media (min-width: 900px){

    .cabecera img{
        width: 20%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .header1 input{
        width: 40%;
    }

    .header1 button{
        width: 3%;
    }

    .cabecera p{
        width:30%;
    }

    .burger-menu{
        display: none;
    }

    .menuGeneral{
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
    }

    .menu{
        display: flex;
        justify-content: space-between;
    }

    .menu li{
        margin-left: 10px;
        margin-right: 10px;
    }

    .menu li i{
        margin-left: 7px;
    }

    /* ------------- FORMULARIO ------------ */

    .input-style2{
        width: 90%;
      }
    
      .form-container {
        width: 60%;
      }

    /* ----------- FOOTER -------------- */

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    footer .info{
        width: 25%;
    }

    .copy{
        width: 100%;
        margin-top: 35px;
    }

}